
{% load crispy_forms_tags %}

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
	{% block head %}<title>My Site</title> {% endblock %}
	<style type="text/css">
		.asteriskfield{
			display:none;
		}
		form .alert ul li{
			list-style:none;
		}
		form .alert ui{
			padding: 0;
			margin :0;
		}
		body{
			background-color: #87cefa 
		}
		img {
			 margin-left: auto;
  			margin-right: auto;
			  width: auto ;
			  display: block;
			  max-width: 50% ;
			  height: auto ;
} 
		
	</style>
  </head>
  <body>
  	
	  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
	  
		  
		<div class="container">
				  <a class="navbar-brand" href="#">
    				<img src="static/image/icon.png" alt="Logo" style="width:60px;">
 					 </a>
				  <a class="navbar-brand" >Login page</a>
		<form class="form-inline my-2 my-lg-0">
						    	<a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
						    	<a href="{% url 'sign' %}" class="btn btn-primary ml-2">Signup</a>  
						    </form>
				  
	</div>

</nav>
<div class="row justify-content-center">
		<div class="col-6">
			<div class="card">
				<div class="card-body">
			<center><h2>Change Password</h2></center>
				<form method="post" novalidate>
					{% csrf_token %}
					{{form|crispy}}
					<center><button type="submit" >change password</button></center>
					
				</form>
			</dir>
	</div>
</div>
</div>

	



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

