amqp==2.5.1
billiard==3.6.1.0
celery==4.3.0
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.20
-e git://github.com/arteria/django-background-image.git@30d2c80512bfde0aaf927bde84a50a20e089cd9c#egg=django_background_image
django-bootstrap-form==3.4
django-celery-beat==1.5.0
django-crispy-forms==1.7.2
django-extensions==1.9.7
django-timezone-field==3.0
djangorestframework==3.7.1
future==0.17.1
idna==2.8
importlib-metadata==0.19
kombu==4.6.4
more-itertools==7.2.0
oauthlib==3.1.0
Pillow==6.1.0
pinax-templates==2.0.2
poloniexapi==0.5.7
PyJWT==1.7.1
python-crontab==2.3.8
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2014.7
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
typing==3.7.4.1
urllib3==1.25.3
vine==1.3.0
websocket-client==0.56.0
yandex-money-sdk==0.1.3
zipp==0.6.0
