<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BOT TRADER</title>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/animate.min.css" rel="stylesheet">
  <link href="static/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/css/lightbox.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">
  <link id="css-preset" href="static/css/presets/preset1.css" rel="stylesheet">
  <link href="static/css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="static/images/favicon.ico">
</head><!--/head-->

<body>
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
 

    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">
            <h1><img class="img-responsive" src="static/images/icon.jpg" width="70" alt="Bot Trader"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>

             {% if user.is_authenticated %}
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ user.username }}(bal:200$)
                    </a>

                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" style="color:blue">Change Password</a>

                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}" style="color:blue">Logout</a>


                    </div>
                 </li>



        {% else %}

      <li>
      <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in/Signup</a></li>


        {% endif %}
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->

{% if user.is_authenticated %}

  <section id="team" >
    <div class="container" style="height: 500px; ">
      
          
       <div class="row">
         <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>Choose Trade</h2>

            <div class="col-sm-4">

              <div class="card">
                <div class="card-body">
                        <center>
                        <img class="img-responsive" src="static/images/team/bitx.png" alt="" width="100">
                        <h2 style="color:blue">BitCoin</h2>
                        <a class="btn btn-primary"  href="{%url 'logo'%}">Trade</a>
                      </center>

                </div>
              </div>

            </div>
            <div class="col-sm-4">

                  <div class="card">
                    <div class="card-body">
                      <center>
                        <img class="img-responsive" src="static/images/team/dash.png" alt="" width="100">
                        <h2 style="color:blue">Dash</h2>
                        <a class="btn btn-primary"  href="{%url 'logo'%}">Trade</a>
                      </center>
                    </div>

                  </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                <center>
                        <img class="img-responsive" src="static/images/team/eth.png" alt="" width="100">
                        <h2 style="color:blue">Ethereum</h2>

                        <a class="btn btn-primary"  href="{%url 'logo'%}">Trade</a>
                      </center>

                </div>

             </div>

  
</div>


    </div>
  </section><!--/#team-->

{% else %}
<center>
<h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
 </div>
</center>
{% endif %}


  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </footer>

  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="static/js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="static/js/wow.min.js"></script>
  <script type="text/javascript" src="static/js/mousescroll.js"></script>
  <script type="text/javascript" src="static/js/smoothscroll.js"></script>
  <script type="text/javascript" src="static/js/jquery.countTo.js"></script>
  <!-- <script type="text/javascript" src="staticjs/lightbox.min.js"></script> -->
  <script type="text/javascript" src="static/js/main.js"></script>

</body>
</html>